.header {
  text-align: center;
}

/* 定义外层 container 的样式 */
.app-container {
  margin-top: 10px;
  height: calc(100vh - 20px);
}

/* 定义各个列的样式 */
.app-col {
  height: 100%;
  overflow: auto;
}

/* 定义 Container 的样式 */
.custom-container {
  margin: 0px;
  height: calc(100vh - 20px);
}

/* 定义 Col 的样式 */
.custom-col {
  height: 100%;
  overflow: auto;
}

.toast {
  margin: 0 auto;
}

.custom-nav .nav-item {
  border: none !important;
  margin-bottom: 2px;
}

.selected-item {
  background-color: #e6f7ff;
}

.expand-icon {
  margin-left: 10px;
}

.compact-nav .nav-item {
  margin-left: 5px;
}

.compact-item {
  padding-left: 5px;
}

/* FloatingLabel样式 开始*/
.custom-label {
  font-size: 0.1rem;
}
.custom-label .form-label {
  font-size: inherit;
}
/* FloatingLabel样式 结束*/
